 <div id="app" class="container-fluid">
      
        <nav class="navbar navbar-expand-lg  navbar-light">
            <a class="navbar-brand" href="#"><img src="images/logo_nav.svg"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="wrapper-menu">
                    <div class="line-menu half start"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu half end"></div>
                  </div>
            </button>
            <div class="collapse navbar-collapse  justify-content-end mr-lg-5 " id="navbarNav">
              <div class="navbar-nav" data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" >
                <a class="nav-link btn from-top scrollTo" href="#">Skills</a>
                <a class="nav-link btn  scrollTo" href="#">About</a>
                <a class="nav-link btn scrollTo" href="#">Projects</a>
                <a class="nav-link btn scrollTo" href="#">Contact</a>
                <a class="nav-link ml-4" href="error.hbs"> <span>|  </span>  Fr</a>
              </div>
            </div>
          </nav>
          <section id="heroSection" class="hero mt-3">
            <canvas id="heroCanvas"></canvas>
              <h1 class="hidden">Hero Section</h1>
              <h2 class="ux mt-2" data-aos="zoom-out"  data-aos-duration="2000" data-aos-easing="ease-in-out"  >Hello<span>.</span> I'm <span>Vira</span></h2>
                  <h3 class="typy"></h3>
          </section>
          <section id="skillsSection" class="Skills">
              <h1 class="hidden">Skills Section</h1>
              <h2 class="bg-word">SKILLS<span>.</span></h2>
              <div class=" d-lg-flex flex-lg-row text-center">
                  <div class="p-4 col-lg">
                    <h3 >Development</h3>
                    <object class="image-fluid"  data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data="images/development.svg" type="image/svg+xml"></object>
                     <!-- <img class="image-fluid"  data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" src="public/images/code.svg"/> -->
                    <p>Experience in Frontend web development with HTML5 / CSS3, Javascript, NodeJS, Vue JS, Wordpress.</p>
                  </div>
                  <div class="p-4 col-lg">
                    <h3 >ux/ui Design</h3>
                    <object class="image-fluid"  data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="500" data="images/design.svg" type="image/svg+xml"></object>
                    <!-- <img class="image-fluid" data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="500"src="public/images/design.svg"/> -->
                    <p>Approaching digital media design and UX/UI layouts in a clean and dynamic way. Use of Adobe Creative package for the creative mood.</p>
                  </div>
                  
                  <div class="p-4 col-lg"> 
                    <h3>Production</h3>
                    <object class="image-fluid"  data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="1000" data="images/production.svg" type="image/svg+xml"></object>
                    <!-- <img class="image-fluid"  data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="1000" src="public/images/production.svg"/> -->
                    <p> A positive and effective communication involves different types of media. Problem Solving solutions with Design Thinking and going outside of the box.</p>
                  </div>
              </div>
          </section>
          <section id="aboutSection" class="About">
              <h1 class="hidden">About Section</h1>
              <div class="purple_paint">
                <h2 class="about">ABOUT ME</h2>
                <img src="images/purple_paint.png" class=" mx-auto d-block"/> 
              </div>
              <div class="aboutdiv row">
                <div class="images col-lg-6">
                    <img src="images/pink_paint.png" class="pink_paint" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400"/>
                    <img src="images/portrait.png" class="img-fluid mx-auto d-block me"/>
                    <img src="images/orange_paint.png" class="orange_paint" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="800" />
                  </div>
                  <div class="aln col-lg-6 align-self-center ">
                    <h3 class="subtitle">Who is this girl?</h3>
                    <!-- <span  data-wait="2000" data-words="[&quot;I am a curious Developer&quot;, &quot;I am a passionate Designer&quot;, &quot;I am an Explorer&quot;, &quot;I am a Creator&quot;]" class="txt-type"><span class="txt"></span></span> -->
                    <p class="pl-5 pl-lg-0 pr-5">
                      My name is <span id="vira">Vira</span> <span id="romanko">Romanko</span> and I am a junior front-end  developer with a design passion.I believe that great design is practical and user oriented. 
                      Aside from designing and coding, I love music, photography and wake boarding!
                   </p>
                   <p class="pl-5 pl-lg-0 pr-5">I like to be responsible for breaking down big tasks into small ones and ensure that the customers are satisfied with the end deliverables. The end result motives me as much as the process of creating and working with a team
                   <div class="social row">
                       <h4 class="social-headline col-md ">Social Media</h4>
                       <div class="social-icons col-md ">
                           <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/" > 
                            <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 43.3 43.3" style="enable-background:new 0 0 43.3 43.3;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1a1a1a;}
  #Layer_1:hover .st0{
    cursor:pointer !important;
    fill:#9712C8 !important;
    transition-timing-function: ease-in;
    transition: 1s;

    }
</style>
<g>
<path id="linkedin" class="st0" d="M21.7,0C9.7,0,0,9.7,0,21.7s9.7,21.7,21.7,21.7c12,0,21.7-9.7,21.7-21.7C43.3,9.7,33.6,0,21.7,0z
	 M15.4,32.8h-5.3V16.9h5.3L15.4,32.8z M12.7,14.7L12.7,14.7c-1.5,0.1-2.9-1.1-2.9-2.6s1.1-2.8,2.6-2.9c0.1,0,0.3,0,0.4,0
	c1.5-0.1,2.8,1,2.9,2.5s-1,2.8-2.5,2.9C13,14.7,12.9,14.7,12.7,14.7L12.7,14.7z M34.4,32.8h-5.3v-8.5c0-2.1-0.8-3.6-2.7-3.6
	c-1.2,0-2.3,0.8-2.7,1.9c-0.1,0.4-0.2,0.9-0.2,1.3v8.9h-5.3c0,0,0.1-14.4,0-15.9h5.3v2.2c1-1.7,2.8-2.7,4.8-2.6
	c3.5,0,6.1,2.3,6.1,7.1L34.4,32.8z"/>
  </g>
</svg>
                           </a>
                           <a href="https://dribbble.com/vira_romanko"> 
                            <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="dribbble" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 43.3 43.3" style="enable-background:new 0 0 43.3 43.3;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1a1a1a;}
	#dribbble:hover .st0{
    cursor:pointer !important;
    fill:#AE033C !important;
    transition-timing-function: ease-in;
    transition: 1s;
  }
</style>
<path id="Path_30" class="st0" d="M33,9.3c1.2-1.2,1.9-2.7,2.3-4.4C29.6,0,21.7-1.3,14.7,1.4c3.8,3.9,7.1,8.4,9.5,13.3
	C27.5,13.6,30.5,11.7,33,9.3z"/>
<path id="Path_31" class="st0" d="M35.5,11.4c-2.6,2.7-5.9,4.8-9.5,6c0.5,1.1,0.9,2.2,1.4,3.3c2.1-0.4,4.2-0.7,6.3-0.7
	c3.3,0,6.6,0.5,9.7,1.6c0-0.1,0-0.3,0-0.4c0-5.1-1.9-10.1-5.4-13.8C37.4,8.8,36.6,10.2,35.5,11.4z"/>
<path id="Path_32" class="st0" d="M0.5,16.3C3.2,16.8,5.9,17,8.6,17c4,0,8.1-0.5,12-1.6c-2.5-4.8-5.7-9.2-9.6-13
	C5.7,5.3,1.8,10.4,0.5,16.3z"/>
<path id="Path_33" class="st0" d="M43.1,25.6c-3-1.1-6.2-1.7-9.5-1.7c-1.8,0-3.7,0.2-5.5,0.6c1.8,5.5,2.8,11.3,3,17.1
	C37.6,38.6,42.1,32.6,43.1,25.6z"/>
<path id="Path_34" class="st0" d="M0,22.7c0.1,6.2,2.9,12,7.6,15.9c0.5-3.4,2-6.5,4.3-9c3-3.3,6.9-5.6,11.1-6.8
	c-0.4-1.1-0.9-2.1-1.3-3.1c-4.2,1.2-8.6,1.9-13.1,1.8c-2.9,0-5.7-0.3-8.5-0.7C0,21.4,0,22,0,22.7L0,22.7z"/>
<path id="Path_35" class="st0" d="M14.5,31.2c-2.3,2.5-3.6,5.7-3.8,9c5,3.2,11.2,4,16.9,2.2c-0.1-5.9-1.1-11.8-2.9-17.4
	C20.8,26.1,17.3,28.2,14.5,31.2z"/>
</svg>

                          </a>
                           <a href="https://github.com/vira-romanko"> <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="github" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 43.3 43.3" style="enable-background:new 0 0 43.3 43.3;" xml:space="preserve">
                            <style type="text/css">
                              .st0{fill:#1a1a1a;}
                              #github:hover .st0{
                                cursor:pointer !important;
                                fill:#9712C8 !important;
                                transition-timing-function: ease-in;
                                transition: 1s;
                              }
                            </style>
                            <path id="Path_36" class="st0" d="M40.4,11.1c-1.9-3.3-4.6-6.1-7.9-8.1c-3.3-2-7-3-10.9-3c-3.8,0-7.6,1-10.9,3c-3.3,2-6,4.7-7.9,8.1
                              C1,14.5,0,18.3,0,22.2c-0.1,4.7,1.4,9.3,4.1,13.1c2.6,3.8,6.3,6.6,10.7,8c0.4,0.1,0.8,0,1.1-0.2c0.2-0.2,0.4-0.5,0.4-0.9
                              c0-0.1,0-0.6,0-1.6s0-1.8,0-2.6l-0.6,0.1c-0.5,0.1-1,0.1-1.6,0.1c-0.7,0-1.3-0.1-2-0.2c-0.7-0.1-1.3-0.4-1.9-0.9
                              c-0.6-0.5-1-1.1-1.2-1.8l-0.3-0.7c-0.2-0.5-0.5-1-0.9-1.5c-0.3-0.5-0.7-0.8-1.2-1.1l-0.2-0.1C6.2,32,6.1,31.9,6,31.7
                              c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1,0-0.2,0.1-0.3c0.3-0.1,0.5-0.2,0.8-0.1l0.6,0.1c0.5,0.1,1,0.4,1.4,0.7c0.6,0.4,1,0.9,1.4,1.5
                              c0.4,0.7,0.9,1.3,1.6,1.8c0.5,0.4,1.2,0.6,1.8,0.6c0.5,0,1.1,0,1.6-0.1c0.4-0.1,0.9-0.2,1.3-0.4c0.1-1.1,0.6-2.2,1.4-3
                              c-1-0.1-1.9-0.3-2.9-0.5c-0.9-0.3-1.8-0.6-2.7-1.1c-0.9-0.5-1.7-1.1-2.3-1.9c-0.7-0.9-1.2-1.9-1.5-3C8,24,7.8,22.5,7.8,21.1
                              c-0.1-2.2,0.7-4.3,2.2-6c-0.7-1.9-0.6-4,0.2-5.9c0.8-0.1,1.7,0,2.4,0.4c0.8,0.3,1.6,0.7,2.4,1.1c0.5,0.3,0.9,0.6,1.2,0.8
                              c3.5-1,7.3-1,10.8,0l1.1-0.7c0.8-0.5,1.7-0.9,2.6-1.3C31.5,9.2,32.3,9,33,9.2c0.8,1.9,0.9,4,0.2,5.9c1.5,1.6,2.3,3.8,2.2,6
                              c0,1.5-0.2,2.9-0.6,4.4c-0.3,1.1-0.8,2.1-1.5,3c-0.6,0.8-1.4,1.4-2.3,1.9c-0.8,0.5-1.7,0.9-2.7,1.1c-0.9,0.2-1.9,0.4-2.9,0.5
                              c1.1,1.1,1.6,2.6,1.5,4.1v6.1c0,0.3,0.1,0.6,0.4,0.9c0.3,0.2,0.7,0.3,1.1,0.2c4.3-1.5,8.1-4.3,10.7-8c2.7-3.8,4.2-8.4,4.1-13.1
                              C43.4,18.3,42.4,14.5,40.4,11.1z"/>
                            </svg>
                            </a>
                          
      
                       </div>
      
                   </div>
    
                  </div>

              </div>   
          </section>
         <section id="projectsSection" class="Projects">
              <h1 class="hidden">Projects</h1>
              <h2 class="projects-title ">PROJECTS<span>.</span></h2> 
              <p class="sub-title">Take a look at some of my works and explorations</p>
                <div class="portfolio text-center pb-3">
                <div class="row">
                    {{#each project}}
                    <a href="{{ID}}"
                        class="portfolio-piece d-flex align-items-center shadow justify-content-center col-md-4 {{field_name}}"
                        style="background-image: url(../{{thumbnail}});">
                        <h4 class=" display-4">{{name}}</h4>
                        <div class="overlay"></div>
                    </a>
                    {{/each}}
                    {{!-- </div> <button class="mt-5">See more</button> --}}
                </div>
            </div>
        </div>
        </section>
<div class="modal" id="exampleModalCenter">
        <div class="fade-bg  close-lightbox"></div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content container p-0">
                <span class="close-lightbox close-btn">&times;</span>
                <section class="portfolio-page">
                    <h2 class="hidden">Description</h2>
                    <div class="header">
                    </div>
                    <div class="container portfolio-content row">
                        <div class="col-12 row justify-content-lg-between m-auto">
                            <div class="col-lg-7">
                                <h2 class="pb-3 mb-3 portfolio-piece-name">#</h2>
                                <ul class="link-wrapper p-0">
                                </ul>
                                <p class="my-3 promo-text"></p>
                            </div>
                            <div class="col-lg-4 text-center">
                                <img class="img-fluid  img-1" src="images/portfolio_piece/gymbabe/header.jpg"
                                    alt="header">
                            </div>
                        </div>
                        <div class="tools w-100">
                            <h5 class=" my-5 display-4">TOOLS</h5>
                            <div class="tools-icons align-items-center row justify-content-center">
                              <img src="#"/>
                            </div>
                        </div>
                        <p class="col-md-8 text-center mx-auto my-5 para-1">
                        </p>
                        <div class=" col-12">
                            <img class="img-fluid img-2" src="#" alt="image 2">
                        </div>
                        <p class="col-md-8 text-center mx-auto my-5 para-2"></p>
                        <div class=" col-12">
                            <img class="img-3 img-fluid" src="#" alt="image 3">
                        </div>
                        <p class="col-md-8 text-center mx-auto my-5 para-3"></p>
                    </div>
                </section>

            </div>
        </div>
    </div>            
        {{!-- Here the project code goes --}}
<section id="photoSection">
<h1 class="hidden">Projects</h1>
 <h2 class="photo-title ">APPROACH<span>.</span></h2> 
<p class="sub-title">Steps of my creative process</p>
<div id="pinContainer">
	<div id="slideContainer">
		<section class="panel panel-1 ">
      <h1   class="bg-purple-word">Pla<span>n</span></h1>
      <h2 data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out"> Step 1: Plan and Research</h2>
      <div class="d-flex flex-lg-row flex-column">
        <p class="photo-text">The first step I take before working on any project is to plan, plan and plan some more. I like to create a timeline for the project and lay out every step that will need to be taken to complete the project. By planning ahead I feel that I am able to tackle any obstacles before they arise.</p>
			  <img   src="images/process_6.png" class="img-fluid text-center"/>
      </div>
      
		</section>
		<section class="panel panel-2">
      <h1   class="bg-purple-word">Draf<span>t</span></h1>
      <h2 data-aos="fade-out" data-aos-delay="1000"  data-aos-duration="2000" data-aos-easing="ease-in-out"> Step 2: First Sketch and Draft</h2>
			<div class="d-flex flex-lg-row flex-column">
   <p class="photo-text">In order to create something amazing, you must first create many not so amazing things. The drafting stage is where this mindset becomes a reality. Creating mockups, wireframes and multiple draft versions of projects is the way I work out and conquer any issues that may arise in the final version of a project.</p>     
       <img src="images/process_9.jpg" class="img-fluid image-3 text-center"/>
      </div>
      
		</section>
		 <section class="panel panel-3">
			<h1   class="bg-purple-word">Creat<span>e</span></h1>
      <h2 data-aos="fade-out" data-aos-delay="1500"  data-aos-duration="2000" data-aos-easing="ease-in-out"> Step 3: The art of creating</h2>
			<div class="d-flex flex-lg-row flex-column">
   <p class="photo-text">After planning, researching, and drafting it is time to make the project a reality. Working closely with the planned and drafted work I create a final polished version of the project that aims to exceed expectations. Delivering a well polished functioning project is made possible by relying on a strong plan, research and thought out drafts.</p>     
       <img src="images/process_7.jpg" class="img-fluid image-3 text-center"/>
      </div>
		</section> 
		 
     <section class="panel panel-4">
			<h1   class="bg-purple-word">Launc<span>h</span></h1>
      <h2 data-aos="fade-out"  data-aos-delay="2000" data-aos-duration="2000" data-aos-easing="ease-in-out"> Step 4: Launch time </h2>
			<div class="d-flex flex-lg-row flex-column">
   <p class="photo-text">The final and most exciting step of the project is the launch. When all the final kinks have been fleshed out I deploy the project for the world to see. The feeling of delivering a final piece of work that creates an amazing user experience is what keeps me coming back every day to the work I love.</p>     
       <img src="images/process_10.jpg" class="img-fluid image-3 text-center"/>
      </div>
		</section> 
    </div>
</div>

</section>
        
    
          <section id="contactSection" class="Contact">
              <h1 class="hidden">Contact</h1>
              <h2 class="bg-word align-left">CONTACT<span>.</span></h2>
              <div> 
                <p class="sub-title  pb-2">Don’t be a stranger, drop me a line</p>
                 
                <div class="d-flex justify-content-center pt-5">
                  <a href="https://www.linkedin.com/in/vira-romanko-8b1154198/" data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="2000"  > 
                    <svg xmlns="http://www.w3.org/2000/svg" id="linkedin-footer" width="43.333" height="43.333" viewBox="0 0 43.333 43.333">
                      <style type="text/css">
                      .st89{fill:#ffffff;}
                        #linkedin-footer:hover .st89{
                          cursor:pointer !important;
                          fill:#9712C8 !important;
                          transition-timing-function: ease-in;
                          transition: 1s;
                        }
                      
                      </style>
                        <path id="linkedin" class="st89" d="M21.666,0A21.666,21.666,0,1,0,43.333,21.666,21.669,21.669,0,0,0,21.666,0Zm-6.3,32.753H10.094V16.878H15.37ZM12.732,14.71H12.7a2.75,2.75,0,1,1,.069-5.485,2.751,2.751,0,1,1-.035,5.485ZM34.4,32.753H29.121V24.261c0-2.134-.764-3.59-2.673-3.59A2.889,2.889,0,0,0,23.74,22.6a3.614,3.614,0,0,0-.174,1.288v8.865H18.291s.069-14.386,0-15.875h5.276v2.248a5.239,5.239,0,0,1,4.755-2.62c3.472,0,6.075,2.269,6.075,7.145Zm0,0" fill="#f7f7f7"/>
                      </svg></a>
                  <a href="https://dribbble.com/vira_romanko" data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="1500"  >
                     <svg xmlns="http://www.w3.org/2000/svg" id="dribbble-footer"  width="43.33" height="43.33" viewBox="0 0 43.33 43.33">
                    <style type="text/css">
                    .st90{fill:#ffffff;}
                      #dribbble-footer:hover .st90{
                        cursor:pointer !important;
                        fill:#E62B61 !important;
                        transition-timing-function: ease-in;
                        transition: 1s;
                      }
                    
                    </style>
                      <path id="Path_30" class="st90" data-name="Path 30" d="M184.268,9.283a8.8,8.8,0,0,0,2.26-4.4,20.263,20.263,0,0,0-20.54-3.505,52.771,52.771,0,0,1,9.532,13.276A21.61,21.61,0,0,0,184.268,9.283Zm0,0" transform="translate(-151.301)" fill="#f7f7f7"/>
                      <path id="Path_31"  class="st90" data-name="Path 31" d="M306.922,88.644a23.744,23.744,0,0,1-9.469,5.953c.49,1.075.941,2.173,1.365,3.285a29.806,29.806,0,0,1,6.267-.684,29.447,29.447,0,0,1,9.667,1.623c0-.138.021-.273.021-.412a20.481,20.481,0,0,0-5.39-13.839A12.008,12.008,0,0,1,306.922,88.644Zm0,0" transform="translate(-271.443 -77.24)" fill="#f7f7f7"/>
                      <path id="Path_32"  class="st90" data-name="Path 32" d="M5.848,44.171a47.964,47.964,0,0,0,8.166.717A43.993,43.993,0,0,0,25.976,43.25,50.114,50.114,0,0,0,16.405,30.3,21.018,21.018,0,0,0,5.848,44.171Zm0,0" transform="translate(-5.376 -27.855)" fill="#f7f7f7"/>
                      <path id="Path_33" class="st90" data-name="Path 33" d="M339.357,272.695A26.9,26.9,0,0,0,329.9,271a27.551,27.551,0,0,0-5.453.551,59.889,59.889,0,0,1,3,17.07A20.742,20.742,0,0,0,339.357,272.695Zm0,0" transform="translate(-296.256 -247.125)" fill="#f7f7f7"/>
                      <path id="Path_34" class="st90" data-name="Path 34" d="M0,221.265a20.861,20.861,0,0,0,7.627,15.929,17.506,17.506,0,0,1,4.289-9.016,24.328,24.328,0,0,1,11.107-6.845c-.41-1.058-.858-2.1-1.331-3.119a46.164,46.164,0,0,1-13.053,1.839A50.411,50.411,0,0,1,.1,219.307c-.061.646-.1,1.3-.1,1.959Zm0,0" transform="translate(0 -198.601)" fill="#f7f7f7"/>
                      <path id="Path_35" class="st90" data-name="Path 35" d="M126.292,291.252a14.629,14.629,0,0,0-3.839,9.01,20.452,20.452,0,0,0,16.891,2.226,57.506,57.506,0,0,0-2.945-17.414A21.913,21.913,0,0,0,126.292,291.252Zm0,0" transform="translate(-111.76 -260.063)" fill="#f7f7f7"/>
                    </svg>
                  </a>
                  <a href="https://github.com/vira-romanko" data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="1000" > <svg id="github-footer" xmlns="http://www.w3.org/2000/svg" width="43.33" height="43.33" viewBox="0 0 43.33 43.33">
                    <style type="text/css">
                    .st88{fill:#ffffff;}
                      #github-footer:hover .st88{
                        cursor:pointer !important;
                        fill:#9712C8 !important;
                        transition-timing-function: ease-in;
                        transition: 1s;
                      }
                    
                    </style>
                      <path  class="st88" id="Path_36" data-name="Path 36" d="M40.424,16.426a21.849,21.849,0,0,0-7.884-8.082A20.794,20.794,0,0,0,21.665,5.365,20.8,20.8,0,0,0,10.79,8.343a21.847,21.847,0,0,0-7.885,8.082A22.143,22.143,0,0,0,0,27.572,21.948,21.948,0,0,0,4.133,40.628,21.26,21.26,0,0,0,14.81,48.652a1.238,1.238,0,0,0,1.128-.2,1.144,1.144,0,0,0,.367-.867q0-.087-.014-1.561t-.014-2.573l-.649.115a8.077,8.077,0,0,1-1.566.1,11.647,11.647,0,0,1-1.96-.2,4.33,4.33,0,0,1-1.89-.867A3.667,3.667,0,0,1,8.97,40.817l-.282-.665A7.26,7.26,0,0,0,7.8,38.677a3.429,3.429,0,0,0-1.227-1.1l-.2-.145a2.091,2.091,0,0,1-.367-.347,1.592,1.592,0,0,1-.254-.4q-.085-.2.141-.333a1.79,1.79,0,0,1,.818-.129l.564.086a4.075,4.075,0,0,1,1.4.694,4.623,4.623,0,0,1,1.368,1.5,5.057,5.057,0,0,0,1.566,1.808,3.266,3.266,0,0,0,1.848.621,7.832,7.832,0,0,0,1.608-.144,5.516,5.516,0,0,0,1.269-.434,4.732,4.732,0,0,1,1.382-2.979,18.888,18.888,0,0,1-2.891-.521,11.358,11.358,0,0,1-2.651-1.128A7.642,7.642,0,0,1,9.9,33.789,9.4,9.4,0,0,1,8.42,30.753a14.776,14.776,0,0,1-.578-4.337,8.553,8.553,0,0,1,2.229-5.957,7.954,7.954,0,0,1,.2-5.9,3.866,3.866,0,0,1,2.426.39,16.773,16.773,0,0,1,2.355,1.113q.748.462,1.2.781a19.893,19.893,0,0,1,10.833,0l1.072-.694a15.023,15.023,0,0,1,2.595-1.273,3.615,3.615,0,0,1,2.286-.318,7.876,7.876,0,0,1,.225,5.9,8.555,8.555,0,0,1,2.229,5.957,14.942,14.942,0,0,1-.578,4.352A9.034,9.034,0,0,1,33.415,33.8a7.932,7.932,0,0,1-2.285,1.923,11.379,11.379,0,0,1-2.652,1.128,18.869,18.869,0,0,1-2.891.521,5.222,5.222,0,0,1,1.466,4.106v6.1a1.166,1.166,0,0,0,.353.867,1.2,1.2,0,0,0,1.114.2A21.257,21.257,0,0,0,39.2,40.627,21.953,21.953,0,0,0,43.33,27.572,22.161,22.161,0,0,0,40.424,16.426Z" transform="translate(0 -5.365)" fill="#f7f7f7"/>
                    </svg></a>
                  <a href="https://www.facebook.com/profile.php?id=100007931835354"data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="1500"  > 
                    <svg xmlns="http://www.w3.org/2000/svg" id="facebook-footer" width="46.121" height="46.121" viewBox="0 0 46.121 46.121">
                      <style type="text/css">
                      .st91{fill:#ffffff;}
                        #facebook-footer:hover .st91{
                          cursor:pointer !important;
                          fill:#E62B61 !important;
                          transition-timing-function: ease-in;
                          transition: 1s;
                        }
                      
                      </style>
                        <path id="facebook" class="st91" d="M46.121,23.061A23.061,23.061,0,1,0,23.061,46.121c.135,0,.27,0,.405-.009V28.168H18.511V22.394h4.954V18.142c0-4.927,3.009-7.612,7.4-7.612a40.246,40.246,0,0,1,4.441.225v5.153H32.285c-2.387,0-2.856,1.135-2.856,2.8v3.675h5.72L34.4,28.159H29.429v17.07A23.068,23.068,0,0,0,46.121,23.061Z" fill="#fff"/>
                      </svg>
                      </a>
                  <a href="mailto:vira.romanko99@gmail.com"data-aos="fade-out"  data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="2000"  > <svg id="message" xmlns="http://www.w3.org/2000/svg" width="46.124" height="46.124" viewBox="0 0 46.124 46.124">
                    <style type="text/css">
                    .st92{fill:#ffffff;}
                      #message:hover .st92{
                        cursor:pointer !important;
                        fill:#9712C8 !important;
                        transition-timing-function: ease-in;
                        transition: 1s;
                      }
                    
                    </style>
                    
                    
                      <path class="st92" id="Path_91" data-name="Path 91" d="M23.062,0A23.062,23.062,0,1,1,0,23.062,23.062,23.062,0,0,1,23.062,0Z" fill="#fff"/>
                      <path class="st92" id="Path_87" data-name="Path 87" d="M73.83,6.755A23.062,23.062,0,0,1,106.444,39.37" transform="translate(-67.075 0)" fill="#fff"/>
                      <path  id="Path_88" data-name="Path 88" d="M144.82,153.681c-.007,0-.014-.081-.021-.081H120.822c-.007,0-.014.081-.021.081l12.01,9.938Z" transform="translate(-109.749 -139.547)" fill="#1d2321"/>
                      <path  id="Path_89" data-name="Path 89" d="M119.671,185.082l-13.333-11.033v14.645a1.487,1.487,0,0,0,1.344,1.5h23.977a1.488,1.488,0,0,0,1.344-1.5V174.049Z" transform="translate(-96.609 -158.125)" fill="#1d2321"/>
                      <path  id="Path_90" data-name="Path 90" d="M282.074,190.2h3.138a1.488,1.488,0,0,0,1.344-1.5V174.049l-11.2,9.348Z" transform="translate(-250.161 -158.125)" fill="#1d2321"/>
                    
                    </svg>
                  </a>
                   
                </div>
                <seciton class="text-center">
                  <h4 class="download">Download my resume</h4>
                    <div id="container-resume">
                        <button class="learn-more">
                          <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                          </span>
                        <a href="includes/resume.pdf"  target="_blank"><span class="button-text">Resume</span></a>
                         </button>
                         </div>
                </seciton>

              </div>
              
              
              <div class="row  justify-content-end footer">
                  <p class="align-self-center pt-3"> Made with love by Vira Romanko </p>
                  <a href="/"><img src="images/logo_footer.svg"/></a>

              </div>
            </div>

          </section> 
          

          

          
    </div>