//about section
#aboutSection{
    background-image: url("../images/initials.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 5vh;
    text-align: center;
    padding-bottom: 10vh;
    img{
        max-width: 80%;
    }
    .me{
        max-width: 350px;
    }
    .about{
        text-align: center;
        font-family: $nunito;
        font-weight: 700;
        font-size: 4vh;
        position: absolute;
        margin: 0 auto;
        padding-left:10vh ;
        padding-top: 3vh;
        span{
            color:$orange;
        }
        
    }
    .purple_paint{
  position: relative;
  max-width: 300px;
  margin: 0 auto;
    }
    .pink_paint, .orange_paint{
        display: none;
    }
    .subtitle{
        font-family: $nunito;
        color:#37112E;
        font-size: 2.5vh;
        font-weight: 700;
        padding: 3vh;

    }
    p{
        font-size: 2.2vh;
        color:$text-gray;
        font-family: $alegreya;
        font-weight: 300;
        #vira{
            font-weight: 700;
            color:$purple;

        }

        #romanko{
            color:#AE033C;
            font-weight: 700;

        }

    }
    .social{
        .social-headline{
            font-family: $alegreya;
            font-weight: 500;
            color:$text-gray;
            font-size: 2.5vh;
            padding-top: 2vh;
            padding-bottom: 1.5vh;
    
        }
        svg{
            max-width: 3.5vh;
            margin: 8px;
            &:hover{
                box-shadow:0px 10px 10px rgba(0,0,0,0.2);
                border-radius:100px;
                transition: all .5s;
            }
        
        }

    }

    
    



}
//APPROACH SECTION
#approachSection{
    //margin-top: 10vh;
    background-color:$projects-bg;
    padding-top: 50px;

    .approach-title{
        text-align: center;
        font-family: $nunito;
        color:$light-gray;
        font-weight: 700;
        //opacity: 74%;


    }
    .approach-subtitle{
        text-align: center;
        margin-top: 5vh;
        font-size: 2.5vh;
        color:$dark-gray;
        font-family: $nunito;
        font-weight: 700;
        padding: 2vh;
    }

   .circle-scene__sticky{
       display: none;
   }

}
