//navigation
nav{
    z-index: 2;
    .navbar-brand{
        margin-left: 10px;
    }
     padding: 0px !important;
    .navbar-expand-lg{
        padding: 0px;
        margin:0px;
    }
    .navbar-nav{

        padding-top: 3vh;
        font-family: $nunito;
        font-size: 2.3vh;
        font-weight: 400;//regular
    
        

        a.nav-link{
            color:$text-gray;
            //every second-forth child
            &:hover:nth-child(-n+4){
                color:#AE033C;
                transition: all .5s;
            }
            //every first-third child
            &:hover:nth-child(2n+1){
                color:$purple;
                transition: all .5s;
                span{
                    color:$text-gray;
                }
                
    
            }
        }
        }
         .navbar-toggler{
            border: 0px;
        }
        .navbar-collapse {
            
            background-color:#F1F1F1;
            transition: all 0.9s cubic-bezier(0.69, -0.55, 0.265, 1.55);
             //opacity: 0.5;
        
        }
   
}

//Hero Section
.hero{
    z-index: 2 !important;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align:center;
    margin-bottom: 3vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
  
    
    .ux{
        z-index: 2; 
        font-size: 5vh;
        font-weight: 700;
        color: $dark-gray;
        opacity: 1;
        font-family: $nunito;
       span{
           color: $purple;
       }
    
    }
    .tagline{
        z-index: 2; 
        font-size: 2.5vh;
        color:$dark-gray;
        font-family: $nunito;
        font-weight: 700;
        padding: 2vh;
        #functionality{
            color: $purple;
            font-weight: 900;
        }
        #creativity{
            color: $orange;
            font-weight: 900;
        }
        
    }
    
    .typy{
        display: block !important;
        font-family: $alegreya;
        font-size: 3vh;
        color: $purple;
        font-weight: 700;
        
    }
}


.txt{
    z-index: 2;
}
.txt-type{
    //display:block;
    text-align: center;
    z-index: 2;
}
canvas{
    opacity: 0;
    max-width: 100% !important;
    //max-height: 60% !important;
    // display: block;
    //max-width: 100%;
    position: absolute;
    z-index: 1;
    //bottom: 0;
    left: 0;
    top: 0px;
  }

 

