//TABLET

@include media-breakpoint-up(md) {

    html{
        //logo
    .navbar-brand{
        img{
            width: 180px;
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 4vh;
        padding-right: 4vh;
        
    }
 


.hero{
    .ux{
        font-size: 15vh;

    }
    .tagline{
        font-size: 3vh;
    }
}
#skillsSection{
    div{
        padding: 15px;
    }
    h3{
        font-size: 3.2vh;

    }
    .bg-word{
        font-size: 6vh;
        padding: 5.5vh;
    }
    p{
        font-size: 2.3vh;
    }
    object{
        max-width: 60%;
    }
}


#contactSection{
    padding-top: 5vh;
    padding-bottom: 5vh;
    h2{
        opacity: 0.13;
        font-size: 20vh;
    }
}

#aboutSection{
    img{
        max-width: 100%;
    }
    .me{
        max-width: 450px;
    }
    .about{
        font-size: 4vh;

    }
    .subtitle{
        font-size: 3.5vh;
     }
    p{
        font-size: 2.8vh;
    }
    .social{
        margin-top: 20px;
        width: 45%;
        margin: 0 auto;
        .social-headline{
            font-size: 2.8vh;
            //margin-right: 15px;
            margin-bottom: 0px;
        }
    
    }

}
#approachSection{
    .approach-title{
        font-size: 8vh;
    }
    .approach-subtitle{
        font-size: 2.8vh;
    }
}

  #projectsSection{
    .projects-title{
        font-size: 5vh;
        padding: 5.5vh;  
    }

  }
  #photographySection{
      .photography-title{
          font-size: 4vh;
      }
  }




    }
    
   
}

//DESKTOP
@include media-breakpoint-up(lg) {
    html{
        //hero section
        nav .navbar-collapse {
            background-color: transparent;
            z-index: 2;
                
        }
        nav{
            z-index: 2;
            .navbar-brand{
                img{
                    width: 160px;
                }
            }
            .navbar-nav{
                font-size: 2.2vh;
            }
        }
        canvas{
            opacity: 1;
            width: 100%;
            // max-height: 300px !important;
            // display: block;
            max-width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
          }
       
.hero{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 22vh;
    padding-top: 20vh;
    z-index: 2;
   
    .ux{
        font-size: 25vh;
        font-weight: 700;
        padding: 2vh;
    }

    .tagline{
        font-size: 3vh;
        margin: 0px;
        padding: 2vh;
        align-self: center;
        text-align: left;
        line-height: 2;
        max-width: 30%;
    }
}
#skillsSection{
    padding-top: 3vh;
    h3{
        font-size: 3.5vh;
    }
    object{
        max-width:400px;
        
       
    }
    .bg-word{
        font-size: 8vh;
        padding: 6vh;
    }
}
 #contactSection{
    h2{
        opacity: 0.13;
        font-size: 26vh;
    }
}



#aboutSection{
    img{
        max-width: 100%;
    }
    .me{
        max-width: 440px;
    }
    .pink_paint{
        display:block;
        position: absolute;
        margin: 0 auto;
        top: 50px;
        right:-30px;
        max-width: 350px;
    }
    .orange_paint{
        display:block;
        position: absolute;
        bottom: 40px;
        right: 40px;
        max-width: 320px;
        transform: rotate(-15deg);
    } 
  .text{
      text-align: left;
      padding-left: 0;
  }

    .about{
        font-size: 4.2vh;
        

    }
    .subtitle{
        font-size: 4vh;
        padding-left: 0px;
     }
    p{
        font-size: 2.7vh;
        padding-left:0px;
        margin-left: 0px;
        margin-top: 30px;
    }
    .social{
        margin-left: 0px;
        margin-top: 40px;
          width: auto;
        //margin: 0 auto;
        .social-headline{
            font-size: 3vh;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-left:0px;
        }
        object{
            max-width: 4vh;
        }
    
    }

    }
    #projectsSection{
        .projects-title{
            font-size: 6vh;
            padding: 6vh;
        }
    }
    #approachSection{
        .approach-title{
            font-size: 16vh;
        }
        .approach-subtitle{
            font-size: 3vh;
        }
       
    // .circle-scene__sticky{
    //     display: block;
    // }

    // .circle-scene {
    //     position: relative;
    //     height: auto;
    //     //min-height: 100%;
       
    // }
    
    // .circle-scene__sticky {
    //     position: sticky;
    //     top: 0;
    // }
    
    // .circles {
    //     position: relative;
    //    margin: 0 auto;
    //     max-width: 1140px;
    //     height: 80vh;
    //     //left: 7%;
    // }
    // .circle {
    //     width: 100%;
    //     height: auto;
    //     padding-top: 100%;
    //     border-radius: 50%;
    //     mix-blend-mode: multiply;
    //     opacity: 0.7 !important;
    //     top: 50%;
    //     transform: translate(-50%,-50%);

    // }

    // .circle,.circle span {
    //     position: absolute;
    //     left: 50%;
    // }
    
    // .circle span {
    //     opacity: 0;
    //     font-size: 34.2px;
    //     font-size: 2.8vh;
    //     font-family: $alegreya;
    //     font-weight: 400;
    //     line-height: 1;
    //     bottom: -255.8px;
    //     transform: translateX(-50%) scale(4.25)
    // }
    
    // .circle.circle--blue {
    //     background-color: #2E1458;

    // }
    
    // .circle.circle--pink {
    //     background-color:#E62B61;
    // }
    
    // .circle.circle--teal {
    //     visibility: hidden;
    //     background-color: #CFE528;
    // }
    
    // .circle.circle--yellow {
    //     visibility: hidden;
    //     background-color:#FD9728;
    // }
    
    // .circle-scene__section {
    //     width: 100%;
    //     height: 100vh;
    //     position: absolute;
    //     top: 20vh;
    // }
    
    // .circle-scene__section[data-scene=split] {
    //     top: 120vh;
    // }
    
    // .circle-scene__section[data-scene=titles-in] {
    //     top: 220vh;
    //     height: 50vh;
    // }
    
    // .circle-scene__section[data-scene=titles-out] {
    //     top: 270vh;
    //     height: 50vh;
    // }
    
    // .circle-scene__section[data-scene=circles-out] {
    //     top: 320vh;
    // }
}
    



// #photographySection{
//     .photography-title{
//         font-size: 4vh;
//     }
//     .miloimg{
//         max-width: 483px;
//         max-height: 700px;
//     }
//     .ph-images{
//         max-width: 100%;
        
       
//         img{
//             margin: 0 auto;
//             max-width: 340px;
//             max-height: 284px;
//             padding: 10px;
//             padding-top: 0px;
//             //padding-bottom: 0px;
//         }
//     }
// }

#contactSection{
    // padding-bottom: 3vh;
    // padding-top: 35vh;
    .footer{
        margin-top: 100px;
        margin-right: 40px;
    }
    .vertical{
        transform: rotate(90deg);
    }
}

}
}