//TABLET

@include media-breakpoint-up(md) {

    html{
        //logo
    .navbar-brand{
        img{
            width: 180px;
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 4vh;
        padding-right: 4vh;
        
    }
 


.hero{
    .ux{
        font-size: 8vh;

    }
    .tagline{
        font-size: 3vh;
    }
    .typy{
        font-size: 4vh;
    }
}

#skillsSection{
    div{
        padding: 15px;
    }
    h3{
        font-size: 3.2vh;

    }
    .bg-word{
        font-size: 6vh;
        padding: 5.5vh;
    }
    p{
        font-size: 2.3vh;
    }
    object{
        max-width: 60%;
    }
}


#contactSection{
    padding-top: 5vh;
    padding-bottom: 5vh;
  
    .bg-word{
        font-size: 6vh;
        padding: 5.5vh;
    }
    svg{
        max-width: 50%;
        margin-right: 3vh;
    }
    .sub-title {
        font-size: 2.7vh;
    }
    .footer{
        img{
            width: 100px;
        }
    }
}

#aboutSection{
    img{
        max-width: 100%;
    }
    .me{
        max-width: 450px;
    }
    .about{
        font-size: 4vh;

    }
    .subtitle{
        font-size: 3.5vh;
     }
    p{
        font-size: 2.8vh;
    }
    .social{
        margin-top: 20px;
        width: 45%;
        margin: 0 auto;
        .social-headline{
            font-size: 2.8vh;
            //margin-right: 15px;
            margin-bottom: 0px;
        }
    
    }

}
#approachSection{
    .approach-title{
        font-size: 8vh;
    }
    .approach-subtitle{
        font-size: 2.8vh;
    }
}

  #projectsSection{
    .projects-title{
        font-size: 6vh;
        padding: 5.5vh;  
    }

  }
  #photographySection{
      .photography-title{
          font-size: 4vh;
      }
  }




    }
    
   
}

//DESKTOP
@include media-breakpoint-up(lg) {
    html{
        //hero section
        nav .navbar-collapse {
            background-color: transparent;
            z-index: 2;
                
        }
        nav{
            z-index: 2;
            .navbar-brand{
                img{
                    width: 160px;
                }
            }
            .navbar-nav{
                font-size: 2.2vh;
            }
        }
        canvas{
            opacity: 1;
            width: 100%;
            // max-height: 300px !important;
            // display: block;
            max-width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
          }
            
.hero{
    display:flex;
    position: relative;
    flex-direction: block;
    justify-content: space-evenly;
    padding-bottom: 22vh;
    padding-top: 5vh;
    z-index: 2;
    .typy{
        font-size: 5vh;
    }
   
    .ux{
        font-size: 16vh;
        font-weight: 700;
        padding: 9vh;
    }

    .tagline{
        font-size: 3vh;
        margin: 0px;
        padding: 2vh;
        align-self: center;
        text-align: left;
        line-height: 2;
        max-width: 30%;
    }
    .typy{
        display: block !important;
    }     
}
#skillsSection{
    padding-top: 3vh;
    h3{
        font-size: 3.5vh;
    }
    object{
        max-width:400px;
        
       
    }
    .bg-word{
        font-size: 8vh;
        padding: 6vh;
    }
}
#contactSection{
    padding-top: 7vh;
    padding-bottom: 7vh;
//   .footer{
//       padding: 0px;
//       margin: 0px;
//   }
    .bg-word{
        font-size: 8vh;
        padding: 6vh;
    }
    svg{
        max-width: 60%;
        margin-right: 3vh;
    }
    .sub-title {
        font-size: 2.7vh;
    }
}



#aboutSection{
    img{
        max-width: 100%;
    }
    .me{
        max-width: 440px;
    }
    .pink_paint{
        display:block;
        position: absolute;
        margin: 0 auto;
        top: 50px;
        right:-30px;
        max-width: 350px;
    }
    .orange_paint{
        display:block;
        position: absolute;
        bottom: 40px;
        right: 40px;
        max-width: 320px;
        transform: rotate(-15deg);
    } 
  .aln{
      text-align: left;
      padding-left: 0;
  }

    .about{
        font-size: 4.2vh;
        

    }
    .subtitle{
        font-size: 4vh;
        padding-left: 0px;
     }
    p{
        font-size: 2.7vh;
        padding-left:0px;
        margin-left: 0px;
        margin-top: 30px;
    }
    .social{
        margin-left: 0px;
        margin-top: 40px;
          width: auto;
        //margin: 0 auto;
        .social-headline{
            font-size: 3vh;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-left:0px;
        }
        svg{
            max-width: 4vh;
        }
    
    }

    }
    #projectsSection{
        .projects-title{
            font-size: 8vh;
            padding: 6vh;
        }
    }
    #approachSection{
        .approach-title{
            font-size: 16vh;
        }
        .approach-subtitle{
            font-size: 3vh;
        }
       
   
}
    }
}
    
