#projectsSection{
    background-color: #E9E9E9;
    
    .projects-title{
        //margin-top: 5vh;
            //text-align: center;
            font-family: $nunito;
            font-weight: 700;
            color: $dark-gray;
    
            font-size: 4vh;
            padding: 5vh;
            span{
                color:#E62B61;
            }
    }
  }