#skillsSection{
    background-color: $dark-gray;
    color:$light-gray;
    text-align: center;
    padding-top: 19vh;
    padding-bottom: 19vh;
    h2{
        font-family: $nunito;
        font-weight: 700;
        opacity: 0.13;
        font-size: 13vh;
    }


}