#skillsSection{
    background-color: $dark-gray;
    height: auto;
	
    overflow: hidden;
    h3{
        color:$light-gray;
        margin-top: 0px;
        padding-top: 0px;
        font-size: 3vh;
        font-weight: 400;
    }
    p{
        color: white;
        padding: 10vh;
        font-family: $alegreya;
        font-size: 2.2vh;
        line-height: 2;
    }
    
   
   object{
       max-width: 80%;
   }
    .bg-word{
        color: white;
        font-family: $nunito;
        font-weight: 700;
        //margin-left: 8vh;
        padding: 5vh;
        font-size: 4vh;
       // text-align: center;
        span{
            color:$purple;
        }
    }

}