//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,600;1,900&display=swap');

//Define colors
$bg: white;
$dark-gray:#1A1A1A;//opacity 13%
$light-gray:#C3BFBF;
$purple: #9712C8;
$text-gray: #707070;
$orange:#FD9728;
$explore:#2E1458; //opacity 66%
$strategize:#E62B61; //opacity 66%
$execute: #CFE528;
$projects-bg: #E9E9E9;

//Define fonts
$nunito: 'Nunito', sans-serif;
$alegreya: 'Alegreya Sans', sans-serif;